body {
    background: #212222;
    color: #fff;
}
/*  ------------- */
/*   navegacion  */
header {
  color: #cbd1d1;
  padding: 0px;
  border-bottom: 4px solid rgb(192, 190, 190);
}
header .log {
  color: #eeebeb;
  margin: 5px 20px 0px 0px;
  font-size: 30px;
}
header a:hover{
    text-decoration: none;
}
header .nav a {
    width:105px;
    text-align: center;
    height:75px;
    line-height:75px;
    font-size:22px;
    color: #fff;
    border-bottom: 4px solid rgb(192, 190, 190);
}
header .nav {
  padding: 0px; 
    margin-bottom: -4px;
}
header .nav a:hover {
  text-decoration: none;  
  border-bottom: 0px;   
}
header .nav a:nth-of-type(1){
    background: #484095;
}
header .nav a:nth-of-type(2)  {
  background: #0184cd;
}
header .nav a:nth-of-type(3) {
  background: #7cbc19;
}
header .nav a:nth-of-type(4) {
    background: #ffbc00;
}
header .nav a:nth-of-type(5){
    background: #d00110;    
}
header .nav .activ{
    border-bottom: 0px;
}
/*  ------------- */
/*     Carrucel   */
.carrucel{
    background: #e2e1e1;
    height: 470px;
}
.carruc{
    border: 4px solid #ccc;
    border-radius: 10px;
    
}
.imgCarr{
    width: 100%;
    height: 100%;
    
}
.carr1{
    width: 295px;
    height: 190px;
    position: absolute;
    margin: 10% 0px 0px 10%;
}
.carr2{
    width: 512px;
    height: 330px;
    position: absolute;
    margin: 5% 0px 0px 15%;
}
.carr3{
    width: 646px;
    height: 416px;
    position: absolute;
    margin: 2% 0px 0px 25%;
}
.carr4{
    width: 512px;
    height: 330px;
    position: absolute;
    margin: 5% 0px 0px 45%;
}
.carr5{
    width: 295px;
    height: 190px;
    margin: 10% 10% 0px 0%;
    float: right;
}



.content{
    background: #fff;
    color: #212222;
}
 /* --- Mediaqueries --- */
  
  /* Dispositivo xl */
  @media screen and (max-width: 1500px) {
    
} 
/* Dispositivo lg */
@media screen and (max-width: 991px) {

    header .log{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    header .nav a {
      width: 100%;
      margin: 0px;
    }   
  }
   /* Dispositivo md */
   @media screen and (max-width: 767px) {
    header .nav a {        
        height:27px;
        line-height:27px;
        font-size:17px;        
        border: 0px;
    }
}